{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Body</th>
    </tr>
    </thead>
    <tbody>
    {% for post in user.posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}

{% endblock %}